#repertoire{
    width:100%;
    float:left;
}
#mytop{
    background-color:eaf1fa;
    height:30px;
}
.mytop_a{
    color:black;
    margin-right:7px;
    margin-left:7px;
    float:right;
}

/*
购物车列表
*/
#myticket{;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    
}
#bt_pay{
    display:block;
    margin-left: auto;
    margin-right: auto;
}